.card input {
    float: left;
    width: 50%
}

.card {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

.badge {
    position: relative;
}

em {
    color: #dc3545;
    font-size: 0.9rem;
}