
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Life is Feudal : Planification de Personnage</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
    <link rel="stylesheet" href="./css/style.css">
</head>
<body>
    <div id="app" class="container">
        <!-- NAV BAR FIXED TOP -->
        <ul class="nav nav-tabs fixed-top navbar-light bg-light pt-2 justify-content-center">
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{active:p.crafting.active}" v-on:click="changePage(p.crafting)" href="#">{{ p.crafting.fr }} : {{ p.crafting.now }}/{{ p.crafting.max }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{active:p.combat.active}" v-on:click="changePage(p.combat)" href="#">{{ p.combat.fr }} : {{ p.combat.now }}/{{ p.combat.max }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{active:p.minor.active}" v-on:click="changePage(p.minor)" href="#">{{ p.minor.fr }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{active:p.stats.active}" v-on:click="changePage(p.stats)" href="#">{{ p.stats.fr }} : {{ p.stats.now }}/{{ p.stats.max }}</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" v-bind:class="{active:p.summary.active}" v-on:click="changePage(p.summary)" href="#">{{ p.summary.fr }}</a>
            </li>
            <li class="nav-item pt-2 pl-4">
                <em>(Passez la souris sur les boutons info)</em>
            </li>
        </ul>

        <!-- APP TITLE -->
        <div class="mb-0 pb-0 jumbotron">
        <h1 class="text-center">Planification de Personnage</h1>
        <h2 class="text-center"> <small class="text-muted">Life is Feudal MMO</small></h2>
        <hr>

        <!-- CRAFTING SECTION -->
        <section id="crafting" v-if="p.crafting.active">
            <!-- TIER 1 Loop -->
            <div v-for="card in cards.crafting">
                <div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <span class="badge badge-dark">Tier I</span>
                        <img class="rounded  mx-auto d-block mb-2" v-bind:src="card.img" alt="Card image cap">
                        <h5 class="card-title text-center"> <a v-bind:href="card.wiki"> {{card.fr}} </a></h5>
                        <form>
                            <div class="form-group d-flex justify-content-center">
                                <input class="form-control" type="number" class="form-check-input" v-bind:value="card.now">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card.info">info</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- TIER 2 Loop -->
                <div v-for="card2 in card.tier2">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="card mt-4" style="width: 12rem;" >
                                <div class="card-body">
                                    <span class="badge badge-dark">Tier II</span>
                                    <img class="rounded  mx-auto d-block mb-2" v-bind:src="card2.img" alt="Card image cap">
                                    <h5 class="card-title text-center"> <a v-bind:href="card2.wiki"> {{card2.fr}} </a></h5>
                                    <div class="form-group d-flex justify-content-center">
                                        <input class="form-control" type="number" class="form-check-input" v-bind:value="card2.now">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card2.info">info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TIER 3 Loop -->
                    <div v-for="card3 in card2.tier3">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="card mt-4" style="width: 12rem;" >
                                    <div class="card-body">
                                        <span class="badge badge-dark">Tier III</span>
                                        <img class="rounded  mx-auto d-block mb-2" v-bind:src="card3.img" alt="Card image cap">
                                        <h5 class="card-title text-center"> <a v-bind:href="card3.wiki"> {{card3.fr}} </a></h5>
                                        <div class="form-group d-flex justify-content-center">
                                            <input class="form-control" type="number" class="form-check-input" v-bind:value="card3.now">
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card3.info">info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- TIER 4 Loop -->
                        <div class="row">
                            <div class="col-3"></div>
                            <div v-for="card4 in card3.tier4">
                                <div class="col-9">
                                    <div class="card mt-4" style="width: 12rem;" >
                                        <div class="card-body">
                                            <span class="badge badge-dark">Tier IV</span>
                                            <img class="rounded  mx-auto d-block mb-2" v-bind:src="card4.img" alt="Card image cap">
                                            <h5 class="card-title text-center"> <a v-bind:href="card4.wiki"> {{card4.fr}} </a></h5>
                                            <div class="form-group d-flex justify-content-center">
                                                <input class="form-control" type="number" class="form-check-input" v-bind:value="card4.now">
                                            </div>
                                            <div class="d-flex justify-content-center">
                                                <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card4.info">info</button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- End Loop TIER 4 -->
                    </div>
                    <!-- End Loop TIER 3 -->
                </div>
                <!-- End Loop TIER 2 -->
                <hr class="my-4">
            </div>
            <!-- End Loop TIER 1 -->
        </section>

        <!-- COMBAT SECTION -->
        <section id="combat" v-if="p.combat.active">
            <!-- SECONDARY COMBAT SKILLS -->
            <div class="row">
                <div v-for="card in cards.secondCombat">
                    <div class="col">
                        <div class="card mb-2" style="width: 12rem;">
                            <div class="card-body">
                                <img class="rounded  mx-auto d-block mb-2" v-bind:src="card.img" alt="Card image cap">
                                <h5 class="card-title text-center"> <a v-bind:href="card.wiki"> {{card.fr}} </a></h5>
                                <form>
                                    <div class="form-group d-flex justify-content-center">
                                        <input class="form-control" type="number" class="form-check-input" v-bind:value="card.now">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card.info">info</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <hr></hr>
            <!-- TIER 1 Loop -->
            <div v-for="card in cards.combat">
                <div class="card" style="width: 12rem;">
                    <div class="card-body">
                        <span class="badge badge-dark">Tier I</span>
                        <img class="rounded  mx-auto d-block mb-2" v-bind:src="card.img" alt="Card image cap">
                        <h5 class="card-title text-center"> <a v-bind:href="card.wiki"> {{card.fr}} </a></h5>
                        <form>
                            <div class="form-group d-flex justify-content-center">
                                <input class="form-control" type="number" class="form-check-input" v-bind:value="card.now">
                            </div>
                            <div class="d-flex justify-content-center">
                                <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card.info">info</button>
                            </div>
                        </form>
                    </div>
                </div>
                <!-- TIER 2 Loop -->
                <div v-for="card2 in card.tier2">
                    <div class="row">
                        <div class="col-1"></div>
                        <div class="col-11">
                            <div class="card mt-4" style="width: 12rem;" >
                                <div class="card-body">
                                    <span class="badge badge-dark">Tier II</span>
                                    <img class="rounded  mx-auto d-block mb-2" v-bind:src="card2.img" alt="Card image cap">
                                    <h5 class="card-title text-center"> <a v-bind:href="card2.wiki"> {{card2.fr}} </a></h5>
                                    <div class="form-group d-flex justify-content-center">
                                        <input class="form-control" type="number" class="form-check-input" v-bind:value="card2.now">
                                    </div>
                                    <div class="d-flex justify-content-center">
                                        <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card2.info">info</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- TIER 3 Loop -->
                    <div v-for="card3 in card2.tier3">
                        <div class="row">
                            <div class="col-2"></div>
                            <div class="col-10">
                                <div class="card mt-4" style="width: 12rem;" >
                                    <div class="card-body">
                                        <span class="badge badge-dark">Tier III</span>
                                        <img class="rounded  mx-auto d-block mb-2" v-bind:src="card3.img" alt="Card image cap">
                                        <h5 class="card-title text-center"> <a v-bind:href="card3.wiki"> {{card3.fr}} </a></h5>
                                        <div class="form-group d-flex justify-content-center">
                                            <input class="form-control" type="number" class="form-check-input" v-bind:value="card3.now">
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card3.info">info</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- End Loop TIER 3 -->
                </div>
                <!-- End Loop TIER 2 -->
                <hr class="my-4">
            </div>
            <!-- End Loop TIER 1 -->
                </p>
        </section>
        
        <!-- MINOR SECTION -->
        <section id="minor" v-if="p.minor.active">
                <div class="row">
                    <div v-for="card in cards.minor">
                        <div class="col">
                            <div class="card mb-4" style="width: 12rem;">
                                <div class="card-body">
                                    <img class="rounded  mx-auto d-block mb-2" v-bind:src="card.img" alt="Card image cap">
                                    <h5 class="card-title text-center"> <a v-bind:href="card.wiki"> {{card.fr}} </a></h5>
                                    <form>
                                        <div class="form-group d-flex justify-content-center">
                                            <input class="form-control" type="number" class="form-check-input" v-bind:value="card.now">
                                        </div>
                                        <div class="d-flex justify-content-center">
                                            <button type="button" class="btn btn-lg btn-danger py-0 m-0" data-container="body" data-toggle="popover" data-placement="right" v-bind:data-content="card.info">info</button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
        </section>

        <!-- STATISTICS SECTION -->
        <section id="stats" v-if="p.stats.active">
                <h2 class="display-3">{{ p.stats.fr }}</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
        </section>

        <!-- SUMMARY SECTION -->
        <section id="summary" v-if="p.summary.active">
                <h2 class="display-3">{{ p.summary.fr }}</h2>
                <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
                <hr class="my-4">
                <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
                <p class="lead">
                    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
                </p>
        </section>
        
        <!-- FOOTER -->
        <p class="m-0 pb-3 text-muted text-center"><small>Made with <span class="text-danger">&lt;3</span> by MSeyne - Source: Github - GPL Licence Libre</small></p>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.3/umd/popper.min.js" integrity="sha384-vFJXuSJphROIrBnz7yo7oB41mKfc8JzQZiCq4NCceLEaO4IHwicKwpJf9c9IpFgh" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
    <script src="./js/script.js"></script>
</body>
</html>